selenium>=4.10.0
pillow>=9.5.0
requests>=2.31.0
imagehash>=4.3.1
beautifulsoup4>=4.12.2
webdriver_manager>=3.9.0
opencv-python>=4.8.0
numpy>=1.24.0
tqdm>=4.65.0
icrawler>=0.6.3
urllib3>=1.26.15
lxml>=4.9.2
ultralytics
supervision
PyQt6
PySide6>=6.5.0
PyQt6-Charts>=6.5.0
pandas>=1.5.3
matplotlib>=3.7.1